<h1>Log in</h1>
<% if @error %>
  <p><%=@error%></p>
<% end %>
<form method='post' action='/login'>
  <input type='text' name='username' placeholder="Username:">
  <input type='password' name='password' placeholder="Password:">
  <input type='submit' value='Log in'>
<form>