<p>Sign up</p>
<form method='post' action='/users/new'>
  <input type='text' name='username'>
  <input type='text' name='email'>
  <input type='password' name='password'>
  <input type='submit' value='submit'>
<form>
