<h1>This is the show page for an individual instance of your model.</h1>

   Logged in? <%= logged_in? %>
<% unless @user.reviews.empty? %>
  <p>Reviews by <%= @user.username %>!</p>
  <% reviews = @user.reviews %>
  <% reviews.each do |review| %>
    <%= review.content%>
  <% end %> 
<% else %>
  <p><%= @user.username %> hasn't posted any reviews!</p>
<% end %> 
