<h1>Edit your review!</h1>
<form method='post' action='/reviews/<%= @review.id %>'>
    <input type='hidden' id='hidden' name='_method' value='patch'> 
    <label>Content:</label><br>
    <input type='text' name='content' value='<%= @review.content %>'><br>
    <label>Rating:</label><br>
    <select name='rating' value='<%= @review.rating %>'>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
    </select><br>
    <input type='submit' value='update'>
  <form>